@font-face {
    font-family: "Taipei Sans";
    src: url(../font/TaipeiSansTCBeta-Regular.ttf);
}

.font-bold {
    font-weight: bold;
}

body {
    font-family: "Taipei Sans", sans-serif;
    text-align: center;
    align-content: center;
}

span {
    font-size: x-large;
}

.btn-in {
    height: 40px;
    border-radius: 5px;
}

.btn-in:hover {
    box-shadow: 0px 3px 3px rgba(20%, 20%, 40%, 0.5);
}

.choice {
    width: 190px;
}

.choice:hover {
    border-style: solid;
}

.dice {
    width: 50px;
}

.link {
    color: #45474a;
    text-decoration: none;
    background-color: transparent;
}

.link:hover {
    color: #a5a8ab;
    text-decoration: underline;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 70%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }
    .popup {
        width: 70%;
    }
}

.enable {
    visibility: visible;
    opacity: 1;
}

.HP {
    font-size: xx-large;
}

#me {
    text-align: left;
}

#foe {
    text-align: right;
}

#fight {
    margin: 0px auto;
    font-size: 25px;
    font-weight: bolder;
    border-style: groove;
    border-color: black;
    box-shadow: 3px 3px;
}

#fight:hover {
    border-color: #8b0b0b;
    box-shadow: -3px -3px #885c5c;
    background-color: #a10000;
    color: #ffafaf;
}